<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Naked Java Appointments</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h4>Appointments</h4>
            <div class="panel panel-default">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Description</th>
                        <th>Time</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  th:each ="appointment : ${appointments}">
                        <td th:text="${appointment.description}"></td>
                        <td th:text="${appointment.time}"></td>
                        <td th:text="${appointment.date}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h4>Create appointment</h4>
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" action="/appointments/create/" method="post">
                        <div class="form-group">
                            <label for="date" class="col-sm-3 control-label">Date</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" id="date" name="date">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="time" class="col-sm-3 control-label">Time</label>
                            <div class="col-sm-9">
                                <input type="time" class="form-control" id="time" name="time">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="description" name="description">
                                <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="error"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 text-right">
                                <button type="submit" class="btn btn-default preview-add-button">
                                    <span class="glyphicon glyphicon-plus"></span> Create
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>